@import url("https://fonts.googleapis.com/css2?family=Merienda+One&display=swap");
.card {
  background-color: white;
  height: 40%;
  width: 20%;
  margin: 1%;
  border: 2px solid teal;
  border-radius: 5px;
}

.header-titles {
  font-weight: normal;
  font-size: 20px;
  font-style: italic;
  font-family: "Merienda One", cursive;
}

button {
  width: 70px;
  height: 25px;
  color: teal;
  font-size: 16px;
  border-radius: 5px;
  background-color: aliceblue;
  margin: 2%;
}
